.el-tree {
    --o-tree-node-hover-bg-color: #F7F8FA;
    --o-tree-node-font_size: 14px;
    --o-tree-node-line-height: 14px;
    --o-tree-text-color: #555555;
    --o-tree-text-hover-color: #0D8DFF;
}