.el-tabs {
  --o-tabs-color: #555;
  --o-tabs-color-active: #0d8dff;
  
  --o-tabs-header-font_size: 14px;
  --o-tabs-header-line_height: 22px;
  // --o-tabs-content-font_size: var(--o-font_size-text);
  // --o-tabs-content-line_height: var(--o-line_height-text);
}
