.el-select-dropdown {
  --o-select_dropdown-border_radius: 12px;
  --o-select_dropdown_item-margin: 4px 4px;
  --o-select_dropdown-box_shadow: 0px 10px 40px 0px rgba(18, 20, 23, 0.08);
  
  --o-select_dropdown_item-border_radius: 8px;
}
