.el-dropdown-menu {
  padding: 0;

  &__item {
    padding: 0 16px;
    height: 46px;
    line-height: 46px;
    font-size: 14px;
    color: #000000;
  }
}

.el-dropdown__popper.el-popper[role=tooltip]{
  border: none;
}

