// 筛选组件样式
.el-popper.filter {
  // border: 1px solid #555555 !important;
  border-radius: 8px;
  .el-scrollbar{
    border-radius: 8px;
  }

  .el-dropdown-menu {
    padding: 0;

    &__item {
      height: 36px;
      line-height: 36px;
      background-color: rgba(255, 255, 255, 0.9);
      font-size: 14px;
      font-weight: normal;
      color: #000000;

      &:hover {
        background: #f7f8fa;
      }
    }
  }
}
