.el-popper.nav {
  background-color: rgba(255, 255, 255, 0.9) !important;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.05) !important;
  backdrop-filter: blur(5px) !important;

  .el-dropdown-menu {
    padding: 0;
    background-color: rgba(255, 255, 255, 0.9) !important;
    &__item {
      min-width: 120px;
      position: relative;
      justify-content: center;
      padding: 0 16px;
      height: 46px;
      line-height: 46px;
      font-size: 14px;
      color: #000000;
      background-color: rgba(255, 255, 255, 0.9) !important;

      &:hover {
        color: #0d8dff;
      }

      &::after {
        position: absolute;
        bottom: 0;
        content: '';
        width: calc(100% - 32px);
        height: 1px;
        background-color: #dddddd;
      }

      &:last-child::after {
        display: none;
      }
    }
  }
}
