:root {
    --el-border-radius-base: 0;
}

.el-pagination {
    --el-pagination-button-disabled-bg-color: #F5F6F8;
    --el-pagination-bg-color: #F5F6F8 !important;
    --el-pagination-hover-color: rgba(0, 47, 167, 1) !important;

    button:disabled {
        border: 1px solid #ccc;
        background-color: #F5F6F8 !important;
    }

    .el-input__wrapper:hover {
        box-shadow: none !important;
    }

    .el-pagination__rightwrapper {
        display: none;
    }

    .active {
        background-color: #e9eaee;
    }

    // .el-pager li.is-active {
    //     color: rgba(0, 47, 167, 1);
    // }

    .el-pager {
        background-color: #fff;

        li {
            font-size: 14px;
            color: #000;

            &.is-active {
                color: rgba(0, 47, 167, 1);
            }
        }
    }

    .btn-disabled {
        border: 1px solid #e9eaee;
    }

    .btn-next,
    .btn-prev {
        border: 1px solid #000;
        color: #000;
        // background-color: var(--el-fill-color-blank);
    }

    .el-pagination button:disabled {
        border: 1px solid #ccc;
    }

    .el-pagination__jump {
        color: #000;
    }

    .el-select {
        --el-select-border-color-hover: none !important;
        --el-select-input-focus-border-color: none !important;

        .select-trigger .el-input {
            --el-input-text-color: #000;
            --el-input-bg-color: #F5F6F8;
            --el-input-hover-border-color: #F5F6F8;
            --el-input-focus-border-color: #F5F6F8;

            .el-input__wrapper {
                border: 1px solid #000;
                box-shadow: none;
                border-radius: none;
                width: 150px;

                &.is-focus {
                    box-shadow: none !important;
                }
            }
        }
    }

    .el-select .el-input .el-select__caret {
        color: #000;
    }

    .el-select .select-trigger .el-input.is-focus .el-input__wrapper {
        box-shadow: none !important;
    }

}