.el-collapse {
    --o-collapse-header-height: 70px;
    --o-collapse-header-font_size: 18px;
    --o-collapse-header-line_height: 70px;
    --o-icon-color: #000;
    --o-icon-font_size: 20px;
    --o-collapse-border-color: #D8D8D8;
}