@charset 'UFT-8';
@use './var.scss';

body {
  .el-table {
    border-radius: 16px;
    border: 1px solid #e5e5e5;
    font-size: var(--o-table-font_size);
    .el-table__header {
      .el-table__cell {
        height: var(--o-table-header-height);
        color: var(--o-table-header-color);
        background-color: var(--o-table-header-bg);
        padding: 0;
        .cell {
          padding: 10px 24px;
          line-height: var(--o-table-cell-line_height);
        }
      }
    }
    .el-table__body {
      tr {
        .el-table__cell {
          height: var(--o-table-body-row-height);
          color: var(--o-table-color);
          padding: 0;
          .cell {
            padding: 10px 24px;
            line-height: var(--o-table-cell-line_height);
          }
        }
      }
    }
  }
}
