.el-message {
  --o-message-shadow: 0px 13px 33px 0px rgba(190, 196, 204, 0.2);
  --o-message-bg: #ffffff;
  --o-message-color: #555555;
  --o-message-font_size: 18px;
  --o-message-mobile-font_size: 12px;
  --o-message-line_height: 28px;
  --o-message-mobile-line_height: 14px;
  --o-message-margin_right: 8px;
  --o-message-mobile-margin_right: 16px;
  --o-message-padding: 25px;
  --o-message-mobile-padding: 8px;
  --o-message-border_radius: 16px;
  --o-message-mobile-border_radius: 8px;
}
